
/*Variables*/
:root{
    --apmBlue: rgb(16,67, 130); /* rgb(46, 49, 146);*/
    --apmBueHover: rgb(30, 115, 190);
    --offcanvas-width: 250px;
    --topNavbarheight: 56px;
}

body{
    background-color:rgb(233, 238, 248);
}

.cursoSugeridoInput{
    background-color: rgb(231,236,247) !important;
}

.hover-section a {
    transition: 0.2s;
}

.actionbtn_row{
    width: 10% !important;
}

.hover-section:hover a{
    background: white;
    color: black !important;
    border-radius: 20px 0px 0px 20px;
}

.link-active{
    background: white;
    color: black !important;
    border-radius: 20px 0px 0px 20px;
}

.navbar{
    background-color: white;/*var(--apmBlue)*/;
}

.sidebar-nav{
    background-color: var(--apmBlue);
    width:var(--offcanvas-width);
}

.sidebar-link{
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon{
    display: inline-flex;
}
.sidebar-link[aria-expanded = "true"] .right-icon{
    transform: rotate(180deg);
}

@media (min-width:992px){
    body {
        overflow: auto !important;
      }

    .offcanvas-backdrop::before {
        display: none;
        background-color: rgba(0, 0, 0, 0.068);
      }

    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        /*top: var(--topNavbarheight);
        height: calc(100% - var(--topNavbarheight));*/
    }

    main{
        margin-left: var(--offcanvas-width);
    }
}

@media screen and (max-width: 1094px) {
    small{
      font-size: 0.7em;
    }
}

.card-pendientes{
    border-left: 5px solid rgb(13,110,253);
}
.card-impartidos{
    border-left: 5px solid rgb(25,135,84);
}

.card-cancelados{
    border-left: 5px solid rgb(220,53,69);
}

.card-en-desarrollo{
    border-left: 5px solid rgb(0, 0, 0);
}

.card{
    transition-timing-function: ease-in;
    transition: 0.3s !important;
}

.card:hover{

    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.33) !important; 
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.33) !important;
}

small{
    font-weight: bold;
}

.addFieldBtn{
    padding-top: 1px;
    padding-bottom: 1px;
}

.deleteFieldBtn{
    padding-top: 1px;
    padding-bottom: 1px;
}

.register-btn{
    background-color: var(--apmBlue);
}

.register-btn:hover{
    background-color: var(--apmBueHover);
}

#seccion2{
    transition: opacity 0.5s;
}
/* DISPLAY FLEX, para controlar que las cartas sean del mismo tamaño */

.row-flex {
    display: flex;
    flex-wrap: wrap;
  }
.content {
height: 100%;
/*    padding: 20px 20px 10px;*/
}

#direcciones{
    height: 100% !important;
    width: 100% !important;
}
  
.action-btn{
    border: none;
    background-color:transparent;
}

.action-btn:hover{
    color:black !important;
    transition: 0.5s;
}