.apm-blue{
    background-color: rgb(46, 49, 146);
}


:root{
    --offcanvas-width: 270px;
    --topNavbarheight: 56px;
}

.hover-section a {
    transition: 0.2s;
}

.hover-section:hover a{
    background: white;
    color: black !important;
    border-radius: 20px 0px 0px 20px;
}

.sidebar-nav{
    width:var(--offcanvas-width);
}

.sidebar-link{
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon{
    display: inline-flex;
}
.sidebar-link[aria-expanded = "true"] .right-icon{
    transform: rotate(180deg);
}

@media (min-width:992px){
    body {
        overflow: auto !important;
      }

    .offcanvas-backdrop::before {
        display: none;
        background-color: rgba(0, 0, 0, 0.068);
      }

    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarheight);
        height: calc(100% - var(--topNavbarheight));
        
    }

    main{
        margin-left: var(--offcanvas-width);
    }
}